h1 {
    font-family: "Poppins"; 
    color: #676768; 
    font-size: 35px;
    margin: 15px;
}

.customDropdown {
    font-size: 16px;
    font-family: "Poppins";
    padding-left: 1px;
}

.customDropdown .Select-control {
    width: 100%;
    height: 38px;
    background-color: transparent;
    border: 1px solid #676768;
    border-radius: 3px;
    color: var(--bs-info) !important;
}

.customDropdown .Select-value-label,
.customDropdown .Select-placeholder {    
    color: var(--bs-info) !important;
}

.customDropdown .Select-arrow {
    border-color: #cccccc transparent transparent;
}

.customDropdown.is-open .Select-arrow {
    border-color: transparent transparent #cccccc;
}

.customDropdown .Select-clear {
    color: var(--bs-info);
    font-size: 22px;
}

.customDropdown.is-focused:not(.is-open) > .Select-control {
    border: 2px solid color-mix(in srgb, var(--bs-info), #010103 50%) !important;
}

.customDropdown.is-focused:not(.is-open) .Select-arrow {
    border-color: var(--bs-info) transparent transparent;
}

.customDropdown .Select-menu-outer {
    margin-top: 5px;
    border-radius: 3px;
    background-color: #010103;
    border: 1px solid #676768;
    color: var(--bs-light);
}

.customDropdown .VirtualizedSelectFocusedOption {
    background-color: color-mix(in srgb, var(--bs-light), #010103 7%);
    border-radius: 3px;
    color: #010103;
}

.token {
            position: relative;
            display: inline-block;
            padding: 5px;
            margin: 5px;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
        .pos {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            padding: 3px 6px;
            background-color: #ffa;
            border-radius: 3px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            font-size: 12px;
        }
        .token::after {
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #ffa transparent;
        }